@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
  --primary-black: rgb(14, 13, 13);
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-white: #fff;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  }
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.home {
  position: relative;
  background: url(./components/laptop-background.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  opacity: 0.945;
}

.home h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}
.main-info {
  display: flex;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}
.main-info h2 {
  color: var(--primary-orange);
  text-transform: uppercase;
 }
 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--primary-white);
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
